:root{
    /* Paleta naranjas */
    --tenne-tawny: #cc5803ff;
    --chocolate-web: #e2711dff;
    --yellow-orange-color-wheel: #ff9505ff;
    --honey-yellow: #ffb627ff;
    --maximum-yellow-red: #ffc971ff;
    /*  Neutral */
    --Very-Dark-Blue: #4C4E61;
    --Grayish-Blue: #A3A5AE;
    --Very-Light-Gray: #FAFAFA;
    --black: #0000;
    --white:#FFFF;
}
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
    /* font-weight: 600; */
    list-style:none;
    outline: none;
    text-decoration: none; 
    font-family: 'Roboto', -apple-system, Ubuntu, sans-serif;
}
.body{
    padding: 30px;
}
.main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
}
.section{
    border:1px solid black;
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 250px;
    width: 400px;
    padding: 35px;
}
#section1{

}

/* Layout */
@media (max-width:1140px){
}
@media (max-width:520px){
}