:root{
    /* Paleta naranjas */
    --tenne-tawny: #cc5803ff;
    --chocolate-web: #e2711dff;
    --yellow-orange-color-wheel: #ff9505ff;
    --honey-yellow: #ffb627ff;
    --maximum-yellow-red: #ffc971ff;
    /*  Neutral */
    --Very-Dark-Blue: #4C4E61;
    --Grayish-Blue: #A3A5AE;
    --Very-Light-Gray: #FAFAFA;
    --black: #0000;
    --white:#FFFFFF;
    /* Basicos */
    --grey-sombra:#999999;
    --blanco-roto: #F5F5F7;
    --blanco-grey:#FBFBFD;
    --negro-grey:#32283B;
    --negro-texto:#1D1D1F;
    --azul-link:#2997FF;
    --agua-mapa: rgb(127,180,186);
    --rojo-logoislamag: #e5282c;;
}
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline; 
    list-style:none;
    line-height: 1.5;
    outline: none;
    text-decoration: none; 
    font-family: 'Tillana', cursive, sans-serif;
}
.body{
    padding: 30px;
    background-color: var(--blanco-grey);
    color: var(--negro-texto);
    height: 100vh;
    box-sizing: border-box;
    font-size: 12px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .header h1{
    font: 'manuskript_antiqua_dregular';
    font-weight: 500;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 20px;
} */
h1{
    font-family: 'Tillana', cursive, sans-serif;
    font-weight: 600;
}
.imglogo{
    height: 80px;
    width: 286;
}
.headersection{
    min-width: 100%;
    display: flex;
    padding: 40px;
    justify-content: space-around;
}
.imgmenu{
    height: 30px;
    width: 30px;
    border-radius: 0.2em;
    padding: 3px;
}
.imgmenu:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.2);
}
.headernav{
    position: relative;
    display: flex;
}
.headernav ul{
    display: none;
    border-radius: 0.3em;
}
.headernav ul li{
    margin-bottom: 2px;
    display: flex;
    /* background: rgb(186, 186, 223); */
    padding: 4px;
}
.headernav ul li a{
    border: 1px solid black;
    box-shadow: 3px 3px 7px var(--grey-sombra);
    padding: 5px;
    border-radius: 0.3em;
    /* vertical-align: -webkit-baseline-middle; */
}
.headernav ul li a:hover{
    color: white;
    background-color: var(--rojo-logoislamag);  
}
.hola{
    color:darkgreen;
}

form{
    margin-right: 0;
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 10px;
}
input{
    border: 1px solid black;
    border-radius: 0.3em;
}
.boton{
    padding: 0px 3px;
    border: 1px solid black;
    border-radius: 0.3em;
    background: rgba(0,0,0,0.2); 
    box-shadow: 3px 3px 7px var(--grey-sombra);
}
.boton:hover{
    color: white;
    background-color: var(--rojo-logoislamag);  
    cursor: pointer;
}
.main{
    display:flex;
    /* justify-content: center;
    align-items: center;
    gap: 20px 20px; */
}
.article{
    border: 1px solid var(--negro-grey);
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 4px 4px 7px var(--grey-sombra);
    min-width: 350px;
    margin-bottom: 10px;
}
.article header{
    display: flex;
    justify-content: space-between;
}

.mediciones, .descuentos, .productos{
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
}
.flechadireccion{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding:3px;
}
.flechadireccion:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.girararriba{
    transform: rotate(180deg);
}
.mapa{
    border-radius: 0.5rem;
    width: 95%;
    height: auto;
}
.contenedormapa{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}
.imgresponsive{
    border-radius: 0.5rem;
    width: 65%;
    margin: auto;
    height: auto;
}


.iconz{
    width: 25px;
    height: 25px;
}
.smsError{
    color:var(--rojo-logoislamag);
    padding: 1px;
    text-align: center;
}
.divz{
    display: inline-flex;
}
h2{
    padding: 10px 0px;
}
#diva{
    min-width: 260px;
    display: flex;
    justify-content: space-between;
}
.tituloZonas{
    font-size: 17px;
}
.oculto{
    display: none;
}
.visible{
    display: block;
}
#areaa{
    font-size: larger;
    text-align: center;
    padding: 6px 0px;
}
.footer{
    display: flex;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
.logofooter{
    margin-right: 4px;
    height: 32px;
    width: 32px;
}

/* Layout */

/* @media (min-width:1100px){
    .article{
        min-width: 0px;  
   }
} */

@media (max-width:900px){
   .contenedormapa{
       display: none;
   }
   .mapa{
        display: none;
   }
   .main{
        display: block;
   } 
   
}
@media (max-width:660px){
    header h1{
        font-size: x-large;
    }
}
@media (max-width:660px){
    .headernav ul li a {
        font-size: 17px;
    }
    .imgresponsive{
        width: 100%;
    }
}
@media (max-width:370px){
    #divz{
        min-width: 180px;
        flex-direction: column;
    }
    #diva{
        min-width: 180px;
        flex-direction: column;
    }
    
    .header{
        display: block;
    }
    .headernav ul li a {
        font-size: 15px;
    }
    .headernav ul li {
        padding: 2px;
    }
}