:root{
    /* Paleta naranjas */
    --tenne-tawny: #cc5803ff;
    --chocolate-web: #e2711dff;
    --yellow-orange-color-wheel: #ff9505ff;
    --honey-yellow: #ffb627ff;
    --maximum-yellow-red: #ffc971ff;
    /*  Neutral */
    --Very-Dark-Blue: #4C4E61;
    --Grayish-Blue: #A3A5AE;
    --Very-Light-Gray: #FAFAFA;
    --black: #0000;
    --white:#FFFFFF;
    /* Basicos */
    --grey-sombra:#999999;
    --blanco-roto: #F5F5F7;
    --blanco-grey:#FBFBFD;
    --negro-grey:#32283B;
    --negro-texto:#1D1D1F;
    --azul-link:#2997FF;
    --agua-mapa: rgb(127,180,186);
}
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
    list-style:none;
    line-height: 1.5;
    outline: none;
    text-decoration: none; 
}
.body{
    padding: 30px;
    background-color: var(--blanco-grey);
    color: var(--negro-texto);
    height: 100vh;
    box-sizing: border-box;
    font-size: 12px;
}
.header {
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h1{
    font: 'manuskript_antiqua_dregular';
    font-weight: 500;
    /* font-size: xx-large; */
    font-weight: 700;
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 20px;
}
h1{
    font-family: 'Tillana', cursive, sans-serif;
    font-weight: 600;
}
.imglogo{
    height: 80px;
    width: 286;
}
.headersection{
    min-width: 100%;
    display: flex;
    padding: 40px;
    justify-content: space-around;
}
.headernav ul{
    display: flex;
    font-size: larger;

}
.headernav ul li{
    padding: 8px;
    margin-left: 20px; 
}
.headernav ul li a{
    color: var(--azul-link);
    /* font-size: 21px; */
}
a:hover, a:focus {
    text-decoration-line: underline;
}

form{
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 10px;
}
input{
    border: 1px solid black;
    border-radius: 0.3em;
}
.main{
    display:flex;
    /* justify-content: center;
    align-items: center;
    gap: 20px 20px; */
}
.article{
    border: 1px solid var(--negro-grey);
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 4px 4px 7px var(--grey-sombra);
    min-width: 350px;
    margin-bottom: 10px;
}
.article header{
    display: flex;
    justify-content: space-between;
}
.flechadireccion{
    width: 17px;
    height: 17px;
}
/* .img{
    width: 280px;
    height: 80px;
    border-radius: 0.3em;
} */
.mapa{
    border-radius: 0.5rem;
    width: 95%;
    height: auto;
}
.contenedormapa{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}
.sectionZonas{

}


/* .imgmap{
    max-width: 580px;
} */
/* .iluminacion{
    background-color: #e0e07f;
    padding:2px;
}
.luminosidad{
    background-color: #e0e07f;
    padding:2px;
}
.temperatura{
    background-color:#ecc782;
    padding:2px;
}
.humedad{
    background-color: #77e2e2;
    padding:2px;
}
.pulsaciones{
    background-color: #73d173;
    padding:2px;
}
.entradas{
    background-color: pink;
    padding:2px;
} */
.descuentoDensidad .descuentoClima{
    background-color: #73d173;
}
.iconz{
    width: 25px;
    height: 25px;
}
.smsError{
    border : 1px solid red;
    padding: 1px;
    text-align: center;
}
.divz{
    /* min-width: 260px; */
    display: inline-flex;
}
h2{
    padding: 10px 0px;
}
#diva{
    min-width: 260px;
    display: flex;
    justify-content: space-between;
}
.tituloZonas{
    font-size: 17px;
}
.oculto{
    display: none;
}
.visible{
    display: block;
}
#areaa{
    font-size: larger;
    text-align: center;
    padding: 6px 0px;
}
.footer{
    display: flex;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

/* Layout */
@media (max-width:1200px){
   .contenedormapa{
       display: none;
   }
   .mapa{
        display: none;
   }
   .main{
        display: block;
   }
    
}
@media (max-width:660px){
    header h1{
        font-size: x-large;
    }
}
@media (max-width:660px){
    .headernav ul li a {
        font-size: 17px;
    }
}

@media (max-width:370px){
    #divz{
        min-width: 180px;
        flex-direction: column;
    }
    #diva{
        min-width: 180px;
        flex-direction: column;
    }
    
    .headernav ul li a {
        font-size: 15px;
    }
    .headernav ul li {
        padding: 2px;
    }
}